.cal-cell {
    height: 146px;
    word-wrap: break-word;
    width: 14.285714285714285714285714285714%;
}

.cal-body {
}

.cal-body tbody td:hover {
    background: #E5F1F9;
    outline: 2px solid #B2D5F1;
}

.cal-event {
    background: #E5F1F9;
}

.cal-now {
    background: ghostwhite;
    font-style: inherit;
}

.cal-notIn {
    background: #F4F4F4;
    font-style: inherit;
}

.nav {
    min-height: 100px;
    background: #F4F4F4;
}

.s-panel {
    padding-top: 65px;
    background: #F4F4F4;
}

.data-selctor {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
}

.button-def {
    border: none;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
}

.input-def {
    border: none;
    padding: 2px 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    float: right;
    clear: both;
}

.area-event {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: auto;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
}

.dialogFilter {
    background: ghostwhite;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 3px;
    border: 0.5px solid #2d2d2d;
    margin: 5px;
     &:hover {
      background-color: #B2D5F1;
    }
}

.input-event{
    width: 100%;
    margin-bottom: 15px;
    padding: 2px 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    float: right;
    clear: both;
}